{% extends "base.html" %}
{% block content %}

<h2>🗑️ Abfallkalender – {{ month }} / {{ year }}</h2>

<table class="month-table">
    {% for week in month_view %}
    <tr>
        {% for day in week %}
        <td class="{{ day.css }}">
            <div>{{ day.date }}</div>
            {% if day.name %}
                <div>{{ day.icon }} {{ day.name }}</div>
            {% else %}
                <div class="no-entry">–</div>
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}
