{% extends "base.html" %}
{% block title %}Abfall – Monat{% endblock %}

{% block content %}
<h1>Abfallkalender – {{ month }} / {{ year }}</h1>

<div class="grid">
    {% for week in month_view %}
        {% for day in week %}
        <div class="card">
            <h3>{{ day.date.strftime("%d.%m") }}</h3>

            {% if day.event %}
                <p>{{ day.event.icon }} {{ day.event.name }}</p>
            {% else %}
                <p>Kein Eintrag</p>
            {% endif %}
        </div>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}
