{% extends "base.html" %}
{% block title %}Benutzer bearbeiten{% endblock %}

{% block content %}
<h1>Benutzer bearbeiten</h1>

<div class="card" style="max-width: 400px; margin: auto;">
    <form method="POST">
        <label>Name</label>
        <input name="name" value="{{ user.name }}">

        <label>Kalender-ID</label>
        <input name="calendar_id" value="{{ user.calendar_id }}">

        <label>Rolle</label>
        <select name="role">
            <option value="user" {% if user.role == "user" %}selected{% endif %}>User</option>
            <option value="admin" {% if user.role == "admin" %}selected{% endif %}>Admin</option>
        </select>

        <label>Email</label>
        <input name="email" value="{{ user.email }}">

        <button type="submit">Speichern</button>
    </form>
</div>
{% endblock %}
