{% extends "base.html" %}
{% block content %}

<div class="card">
    <h2>{{ recipe.title }}</h2>

    <img src="{{ recipe.image }}" class="recipe-img-large">

    <h3>Zutaten</h3>
    <ul>
        {% for ing in recipe.ingredients %}
        <li>{{ ing }}</li>
        {% endfor %}
    </ul>

    <a class="tile" href="/einkaufsliste/add_from_api/{{ rid }}">🛒 Zutaten zur Einkaufsliste</a>

    <h3>Zubereitung</h3>
    <ol>
        {% for step in recipe.steps %}
        <li>{{ step }}</li>
        {% endfor %}
    </ol>
</div>

{% endblock %}
